/* BASIC STYLES HERE */
:root {
  --dark: #112D4E; 
  --md: #3F72AF;
  --light:  #bbd0df;
}


.font-custom {
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

.font-custom2 {
  font-family: 'Baloo 2', cursive;
}

.hero-img{
  background-image: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1244&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

#new-trip{
  background: var(--md);
}

.tab{
  background: white;
}

.text-shadow{
  text-shadow: 0 1px 1px black;
}

.add-btn{
  transform: scale(2);
}

.bg-glass {
  --bs-bg-opacity: .9;
  width: 80vw;
}

.mdi-md {
  transform: scale(1.5);
}

.reservation {
  background-color: var(--light);
  
}